$font: "Nunito";
$sub-font: "Concert One";

$text-color: #333;
$primary-color: #41916c;
$secondary-color: #8c4895;
$white-color: #fff;
$accent-color-1: #83d3db;
$accent-color-2: #e7e081;

$global-radius: 8px;
