@use "/src/assets/style/variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 44px;
}
h3,
.h3 {
  font-size: 40px;
}
h4,
.h4 {
  font-size: 36px;
}
h5,
.h5 {
  font-size: 32px;
}
h6,
.h6 {
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 600;
  color: $secondary-color;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  position: relative;
  font-family: $font;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: $text-color;
  background-image: linear-gradient(
    185deg,
    #e8edd1 0,
    #e4eed3 6.25%,
    #e0efd5 12.5%,
    #dcefd7 18.75%,
    #d9f0da 25%,
    #d6f1dc 31.25%,
    #d2f1e0 37.5%,
    #d0f2e3 43.75%,
    #cdf2e6 50%,
    #cbf2e9 56.25%,
    #c9f2ed 62.5%,
    #c8f2f0 68.75%,
    #c7f2f3 75%,
    #c7f2f6 81.25%,
    #c8f1f9 87.5%,
    #c8f1fc 93.75%,
    #caf0fe 100%
  );
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
    background-image: url(./assets/images/body-texture.png);
  }
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  padding: 60px 0;
}

.menu {
  font-family: $sub-font;
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;

  a {
    font-size: 24px;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }

    &.active {
      color: $secondary-color;
    }

    &.menu-button {
      padding: 10px 15px;
      border: 2px solid currentColor;
      border-radius: $global-radius;
    }
  }
}

button,
.button {
  display: block;
  width: fit-content;
  cursor: pointer;
  font-family: $font;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 12px 35px;
  border: 2px solid $primary-color;
  border-radius: 50px;
  color: $white-color;
  background-color: $primary-color;
  transition: all 0.3s ease;
  &:hover {
    color: $primary-color;
    background-color: transparent;
  }
}
