@use "/src/assets/style/variables.scss" as *;

.blogCard {
  height: 100%;
  padding: 20px;
  background-color: $white-color;

  &__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: $global-radius;
  }

  &__title {
    margin-bottom: 10px;
  }
}
